{% extends 'navbar.html' %}

{% block content %}
<div class="container mt-4">
    <div class="card shadow-sm">
        <div class="card-body">
            <h2 class="text-center mb-4 main-title">Agregar {{ titulo }}</h2>

            <form method="POST">
                {% csrf_token %}

                <!-- Mostrar errores no relacionados con campos -->
                {{ form.non_field_errors }}

                {% for field in form %}
                    <div class="mb-4">
                        <label for="{{ field.id_for_label }}" class="form-label">
                            {{ field.label }}
                        </label>
                        <div class="mb-3">
                            {{ field }}
                        </div>
                        {% if field.errors %}
                            <div class="text-danger">
                                <p class="small">{{ field.errors }}</p>
                            </div>
                        {% endif %}
                    </div>
                {% endfor %}

                <button type="submit" class="btn btn-success w-100">
                    Guardar
                </button>
            </form>

            <a href="{% url 'catalogo_general' tipo=tipo %}" class="mt-4 d-block text-center text-primary">
                Volver
            </a>
        </div>
    </div>
</div>
{% endblock %}
