{% include 'navbar.html' %}

<body>
    <div class="container">
        {% include 'pestanas.html' %}
    </div>

    <div class="container bg-white p-4 rounded shadow-sm mt-4">
        <h2 class="text-center mb-4 main-title">Catálogo de Alergias</h2>

        <form method="GET" class="row g-2 mb-3">
            <div class="col-md-10">
                <input type="text" name="q" value="{{ query }}" class="form-control" placeholder="Buscar alergia...">
            </div>
            <div class="col-md-2">
                <button type="submit" class="btn w-100 botones-busc">
                    <i class="fas fa-search"></i>
                </button>
            </div>
        </form>

        <a href="{% url 'add_catalogo' 'alergias' %}" class="btn btn-success mb-3">Nuevo {{ catalogo|title }}</a>

        <div class="table-container">
            <table class="custom-table">
                <thead class="table-light">
                    <tr>
                        <th>Clave</th>
                        <th>Descripción</th>
                        <th class="text-center">Acciones</th>
                    </tr>
                </thead>
                <tbody>
                    {% for alergia in alergias %}
                    <tr>
                        <td>{{ alergia.clave }}</td>
                        <td>{{ alergia.descripcion }}</td>
                        <td class="text-center">
                            <a href="{% url 'update_catalogo' 'alergias' alergia.clave %}" class="btn-action"><i class="bi bi-pencil"></i></a>
                            <form method="POST" action="{% url 'delete_catalogo' 'alergias' alergia.clave %}" class="d-inline" onsubmit="return confirm('¿Estás seguro de eliminar esta alergia?');">
                                {% csrf_token %}
                                <button type="submit" class="btn-action"><i class="bi bi-trash"></i></button>

                            </form>
                        </td>
                    </tr>
                    {% empty %}
                    <tr>
                        <td colspan="3" class="text-center">No se encontraron alergias</td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </div>

    {% include 'footer.html' %}
</body>