{% include 'navbar.html' %}

<body>
    <div class="container">
        {% include 'pestanas.html' %}
    </div>

    <div class="container bg-white p-4 rounded shadow-sm mt-4">
        <h2 class="text-center mb-4 main-title">Catálogo de Calles</h2>

        <form method="GET" class="row g-2 mb-3">
            <div class="col-md-10">
                <input type="text" name="q" value="{{ query }}" class="form-control" placeholder="Buscar calle...">
            </div>
            <div class="col-md-2">
                <button type="submit" class="btn btn-primary w-100">🔍</button>
            </div>
        </form>

        <a href="{% url 'add_catalogo' 'calles' %}">
            <button class="btn btn-success mb-3">Nuevo</button>
        </a>
        <table class="table table-bordered table-hover">
            <thead class="table-light">
                <tr>
                    <th>Calle</th>
                    <th class="text-center">Acciones</th>
                </tr>
            </thead>
            <tbody>
                {% for calle in calles %}
                <tr>
                    <td>{{ calle.calle }}</td>
                    <td class="d-flex justify-content-center">
                        <a href="{% url 'update_catalogo' 'calles' calle.clave%}" class="btn btn-warning btn-sm me-2"><i
                                class="bi bi-pencil-fill"></i> Editar
                        </a>
                        <form action="{% url 'delete_catalogo' 'calles' calle.clave %}" method="POST"
                            onsubmit="return confirm('¿Estás seguro de eliminar esta calle?');">
                            {% csrf_token %}
                            <button type="submit" class="btn btn-danger btn-sm"><i class="bi bi-trash-fill"></i>
                                Eliminar
                            </button>
                        </form>
                    </td>
                </tr>
                {% empty %}
                <tr>
                    <td colspan="2" class="text-center">No se encontraron calles</td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
    {% include 'footer.html' %}
</body>