{% include 'navbar.html' %}

<body>
    <div class="container">
        {% include 'pestanas.html' %}
    </div>

    <div class="container bg-white p-4 rounded shadow-sm mt-4">
        <h2 class="text-center mb-4 main-title">Catálogo de Materiales</h2>
        <form method="GET" class="row g-2 mb-3">
            <div class="col-md-10">
                <input type="text" name="q" value="{{ query }}" class="form-control" placeholder="Buscar material...">
            </div>
            <div class="col-md-2">
                <button type="submit" class="btn w-100 botones-busc">
                    <i class="fas fa-search"></i>
                </button>
            </div>
        </form>

        <a href="{% url 'add_catalogo' 'materiales' %}">
            <button class="btn btn-success mb-3">Nuevo {{ catalogo|title }}</button>
        </a>
        <div class="table-container">
        <table class="custom-table">
            <thead class="table-light">
                <tr>
                    <th>Clave</th>
                    <th>Descripción</th>
                    <th>Unidad</th>
                    <th>Costo</th>
                    <th class="text-center">Acciones</th>
                </tr>
            </thead>
            <tbody>
                {% for material in materiales %}
                <tr>
                    <td>{{ material.clave }}</td>
                    <td>{{ material.descripcion }}</td>
                    <td>{{ material.unidad }}</td>
                    <td>$ {{ material.costo }}</td>
                    <td class="d-flex justify-content-center">
                        <a href="{% url 'update_catalogo' 'materiales' material.clave%}"
                            class="btn-action me-2"><i class="bi bi-pencil-fill"></i> 
                        </a>
                        <form action="{% url 'delete_catalogo' 'materiales' material.clave %}" method="POST"
                            onsubmit="return confirm('¿Estás seguro de eliminar esta paramédico?');">
                            {% csrf_token %}
                            <button type="submit" class="btn-action"><i class="bi bi-trash-fill"></i>
                                
                            </button>

                        </form>
                    </td>
                </tr>
                {% empty %}
                <tr>
                    <td colspan="5" class="text-center">No se encontraron materiales</td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
        </div>
    </div>
    {% include 'footer.html' %}
</body>