{% include 'navbar.html' %}

<body>
    <div class="container">
        {% include 'pestanas.html' %}
    </div>

    <div class="container bg-white p-4 rounded shadow-sm mt-4">
        <h2 class="text-center mb-4 main-title">Catálogo de Paramédicos</h2>

        <form method="GET" class="row g-2 mb-3">
            <div class="col-md-10">
                <input type="text" name="q" value="{{ query }}" class="form-control"
                    placeholder="Buscar paramédicos...">
            </div>
            <div class="col-md-2">
                <button type="submit" class="btn btn-primary w-100">🔍</button>
            </div>
        </form>

        <a href="{% url 'add_catalogo' 'paramedicos' %}" class="btn btn-success mb-3">Nuevo {{ catalogo|title }}</a>

        <div class="table-responsive">
            <table class="table table-bordered table-hover">
                <thead class="table-light">
                    <tr>
                        <th>Clave</th>
                        <th>Descripción</th>
                        <th class="text-center">Acciones</th>
                    </tr>
                </thead>
                <tbody>
                    {% for paramedico in paramedicos %}
                    <tr>
                        <td>{{ paramedico.clave }}</td>
                        <td>{{ paramedico.nombre }}</td>
                        <td class="text-center">
                            <a href="{% url 'update_catalogo' 'paramedicos' paramedico.clave %}"
                                class="btn btn-warning btn-sm"><i class="bi bi-pencil-fill"></i> Editar
                            </a>
                            <form method="POST" action="{% url 'delete_catalogo' 'paramedicos' paramedico.clave %}"
                                class="d-inline"
                                onsubmit="return confirm('¿Estás seguro de eliminar este paramédico?');">
                                {% csrf_token %}
                                <button type="submit" class="btn btn-danger btn-sm"><i class="bi bi-trash-fill"></i>
                                    Eliminar
                                </button>

                            </form>
                        </td>
                    </tr>
                    {% empty %}
                    <tr>
                        <td colspan="3" class="text-center">No se encontraron paramédicos</td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
    {% include 'footer.html' %}
</body>