{% include 'navbar.html' %}

<body>
    <div class="container">
        {% include 'pestanas.html' %}
    </div>

    <div class="container bg-white p-4 rounded shadow-sm mt-4">
        <h2 class="text-center mb-4 main-title">Catálogo de Tipos de Servicios</h2>

        <form method="GET" class="row g-2 mb-3">
            <div class="col-md-10">
                <input type="text" name="q" value="{{ query }}" class="form-control"
                    placeholder="Buscar tipos de servicio...">
            </div>
            <div class="col-md-2">
                <button type="submit" class="btn w-100" style="background-color: #831f46;">🔍</button>

            </div>
        </form>

        <a href="{% url 'add_catalogo' 'tipos_servicio' %}" class="btn btn-success mb-3">Nuevo {{ catalogo|title }}</a>

        <div class="table-responsive">
            <table class="table table-bordered table-hover">
                <thead class="table-light">
                    <tr>
                        <th>Clave</th>
                        <th>Descripción</th>
                        <th class="text-center">Grupo</th>
                        <th class="text-center">Acciones</th>
                    </tr>
                </thead>
                <tbody>
                    {% for servicio in tipos_servicio %}
                    <tr>
                        <td>{{ servicio.clave }}</td>
                        <td>{{ servicio.descripcion }}</td>
                        <td>{{ servicio.gruposervicio.descripcion }}</td>
                        <td class="text-center">
                            <a href="{% url 'update_catalogo' 'tipos_servicio' servicio.clave %}"
                                class="btn btn-warning btn-sm"><i class="bi bi-pencil-fill"></i> Editar
                            </a>
                            <form method="POST" action="{% url 'delete_catalogo' 'tipos_servicio' servicio.clave %}"
                                class="d-inline"
                                onsubmit="return confirm('¿Estás seguro de eliminar este tipo de servicio?');">
                                {% csrf_token %}
                                <button type="submit" class="btn btn-danger btn-sm"><i class="bi bi-trash-fill"></i>
                                    Eliminar
                                </button>

                            </form>
                        </td>
                    </tr>
                    {% empty %}
                    <tr>
                        <td colspan="4" class="text-center">No se encontraron tipos de servicio</td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
    {% include 'footer.html' %}
</body>