<div class="flex-column p-3 shadow sidebar" style="width: 80px;">

    <a href="{% url 'formulario_buscar' %}" title="Buscador de servicios" 
        class="btn btn-outline-secondary {% if request.path == '/procesos/buscador/' %} btn-primary {% endif %} mb-2">🔎</a>


    <a href="{% url 'formulario_servicio' %}" title="Crear hoja de servicio" 
            class="btn btn-outline-secondary {% if request.path == '/procesos/servicio/' %} btn-primary  {% else %} d-none {% endif %} mb-2">📃</a>
             
</div>
