{% load static %}

<body>
    <div class="d-flex">
        <div class="container">
            <div class="form-container bg-light p-4 rounded shadow-sm">
                <h1 class="text-center mb-4">Materiales</h1>                    
                    <div class="row align-items-start">
                        <div class="col-md-6">
                            <p><strong>Materiales disponibles:</strong> 
                                <span id="contador-materiales-disponibles">0</span>
                            </p>
                            <table class="table table-striped table-bordered" id="tabla-materiales-disponibles">
                                <thead>
                                    <tr>
                                        <th scope="col">Clave</th>
                                        <th scope="col">Descripción</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    {% for material in materiales %}
                                    <tr ondblclick="moverASeleccionadosMaterial(this, '{{ material.clave }}', '{{ material.descripcion }}', '{{ material.unidad }}')">
                                        <td>{{ material.clave }}</td>
                                        <td>{{ material.descripcion }}</td>
                                        <td style="display: none;">{{ material.unidad }}  </td>
                                    </tr>
                                    {% endfor %}
                                </tbody>
                            </table>
                        </div>
                    
                        <div class="col-md-6">
                            <p><strong>Materiales asignados:</strong> 
                                <span id="contador-materiales-asignados">0</span>
                            </p>
                            <table class="table table-bordered table-hover" id="tabla-materiales-asignados">
                                <thead>
                                    <tr>
                                        <th scope="col">Descripción</th>
                                        <th scope="col">Unidad</th>
                                        <th scope="col">Cantidad</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    {% for material in materiales_asignados %}
                                    <tr>
                                        <td hidden="true">{{ material.material_id }}</td>
                                        <td>{{ material.material }}</td>
                                        <td>{{ material.material.unidad }}</td>
                                        <td><input type="number" value="{{ material.cantidad }}" class="form-control" /></td>                                    
                                    </tr>
                                    {% endfor %}
                                </tbody>
                            </table>
                        </div>
                    </div>
            </div>    
        </div>
    </div>
    <input type="hidden" name="materiales" id="input-materiales">

</body>

<script src="{% static 'js/material_asign.js' %}"></script>
<script src="{% static 'js/general_asig.js' %}"></script>
