<html>

<body>
    <input type="hidden" id="input-partes" name="partes">

    <div class="d-flex justify-content-center">
        <div class="container">
            <div class="form-container bg-light p-4 rounded shadow-sm">
                <h1 class="text-center mb-4">Partes</h1>


                <h4>Digite el parte informativo del servicio</h4>

                <div class="form-group mb-3">
                    <label for="{{ form_partes.parte.id_for_label }}"></label>
                    {{ form_partes.parte }}
                </div>
            </div>
        </div>
    </div>
</body>

</html>