{% load static %}

<body>
    <div class="d-flex">
        <div class="container">
            <div class="form-container bg-light p-4 rounded shadow-sm">
                <h1 class="text-center mb-4">Procedimientos</h1>
        
                    {% csrf_token %}
                    
                    <div class="row align-items-start">
                        <div class="col-md-6">
                            <p><strong>Procedimientos disponibles:</strong> 
                                <span id="contador-procedimientos-disponibles">0</span>
                            </p>
                            <table class="table table-striped table-bordered" id="tabla-procedimientos-disponibles">
                                <thead>
                                    <tr>
                                        <th scope="col">Clave</th>
                                        <th scope="col">Descripción</th>
                                        <th scope="col">Protocolo</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    {% for procedimiento in procedimientos %}
                                    <tr ondblclick="moverASeleccionadosProcedimiento(this, '{{ procedimiento.clave }}', '{{ procedimiento.descripcion }}', '{{ procedimiento.protocolo }}')">
                                        <td>{{ procedimiento.clave }}</td>
                                        <td>{{ procedimiento.descripcion }}</td>
                                        <td>{{ procedimiento.protocolo }}</td>
                                    </tr>
                                    {% endfor %}
                                </tbody>
                            </table>
                            
                            
                        </div>
                    
                        <div class="col-md-6">
                            <p><strong>Procedimientos asignados:</strong> 
                                <span id="contador-procedimientos-asignados">0</span>
                            </p>
                            <table class="table table-striped table-bordered" id="tabla-procedimientos-asignados">
                                <thead>
                                    <tr>
                                        <th scope="col">Clave</th>
                                        <th scope="col">Descripción</th>
                                        <th scope="col">Protocolo</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    {% for procedimiento_paciente in procedimientos_asignados %}
                                        <tr>
                                            <td>{{ procedimiento_paciente.procedimiento.clave }}</td>
                                            <td>{{ procedimiento_paciente.procedimiento.descripcion }}</td>
                                            <td>{{ procedimiento_paciente.procedimiento.protocolo }}</td>
                                        </tr>
                                    {% endfor %}
                                </tbody>                                
                                
                            </table>
                        </div>
                    </div>
                </div>    
        </div>
    </div>
</body>

<script src="{% static 'js/procedi_asig.js' %}"></script>
