{% load static %}

<body>
    <div class="d-flex">
        <div class="container">
            <div class="form-container bg-light p-4 rounded shadow-sm">
                <h1 class="text-center mb-4">Tipo de Unidad Asignado</h1>

                <div class="row mb-3">
                    <div class="col-md-6">
                        <p><strong>Total de unidades:</strong> <span id="contador-unidades">[ 0 ]</span></p>
                    </div>
                    <div class="col-md-6">
                        <p><strong>Total de unidades asignadas:</strong> <span id="contados-unidades">[ 0 ]</span></p>
                    </div>
                </div>

                <div class="row align-items-start">
                    <div class="col-md-6">
                        <table class="table table-striped table-bordered" id="tabla-unidades">
                            <thead>
                                <tr>
                                    <th scope="col">Clave</th>
                                    <th scope="col">Nombre</th>
                                </tr>
                            </thead>
                            <tbody>
                                {% for unidad in unidades %}
                                <tr
                                    ondblclick="moverUnidadASeleccionados(this, '{{ unidad.clave }}', '{{ unidad.descripcion }}')">
                                    <td>{{ unidad.clave }}</td>
                                    <td>{{ unidad.descripcion }}</td>
                                </tr>
                                {% endfor %}
                            </tbody>
                        </table>
                    </div>

                    <div class="col-md-6">
                        <table class="table table-bordered table-hover" id="tabla-seleccionados">
                            <thead>
                                <tr>
                                    <th scope="col">Tipo de Unidad</th>
                                    <th scope="col">ID Unidad</th>
                                    <th scope="col">Agente</th>
                                </tr>
                            </thead>
                            <tbody>
                                {% for unidad in unidades_asignadas %}
                                <tr>
                                    <td hidden="true">{{ unidad.unidad_id }}</td>
                                    <td>{{ unidad.unidad.descripcion }}</td>
                                    <td><input type="text" value="{{ unidad.numero_unidad }}"
                                            class="form-control" /></td>
                                    <td><input type="text" value="{{ unidad.agente_nombre }}"
                                            class="form-control" /></td>
                                </tr>
                                {% endfor %}
                            </tbody>
                        </table>
                    </div>

                </div>
            </div>
        </div>
    </div>

    <input type="hidden" name="unidades" id="input-unidades">
</body>

<script src="{% static 'js/unidad_asig.js' %}"></script>
<script src="{% static 'js/general_asig.js' %}"></script>

</html>