{% load static %}
<!DOCTYPE html>
<style>
    .option-card:hover {
        background-color: #f8f9fa;
        transform: translateY(-5px);
        transition: transform 0.3s ease, background-color 0.3s ease;
    }
</style>

<body>
    {% include 'navbar.html' %}
    <div class="container">
        <h1 class="text-center mb-4">Centro de Reportes</h1>

        <div class="row mt-5">
            <div class="col-md-4 mb-4">
                <a href="{% url 'reporte_servicios' %}" class="text-decoration-none">
                    <div class="card option-card text-center p-4 shadow-lg border-0 rounded-lg h-100">
                        <div class="option-icon mb-3">
                            <i class="fas fa-calendar-day fa-3x text-primary"></i>
                        </div>
                        <h4 class="card-title mb-3 text-dark">Tipos de Servicio por Base y Fecha</h4>
                    </div>
                </a>
            </div>

            <div class="col-md-4 mb-4">
                <a href="{% url 'reporte_servicios_x_ambulancia' %}" class="text-decoration-none">
                    <div class="card option-card text-center p-4 shadow-lg border-0 rounded-lg h-100">
                        <div class="option-icon mb-3">
                            <i class="fas fa-calendar-day fa-3x text-primary"></i>
                        </div>
                        <h4 class="card-title mb-3 text-dark">Servicio por Ambulancia</h4>
                    </div>
                </a>
            </div>

            <div class="col-md-4 mb-4">
                <a href="{% url 'reporte_servicios_x_ambulancia' %}" class="text-decoration-none">
                    <div class="card option-card text-center p-4 shadow-lg border-0 rounded-lg h-100">
                        <div class="option-icon mb-3">
                            <i class="fas fa-calendar-day fa-3x text-primary"></i>
                        </div>
                        <h4 class="card-title mb-3 text-dark">Lista de Asistencia del Personal</h4>
                    </div>
                </a>
            </div>

            <div class="col-md-4 mb-4">
                <a href="{% url 'reporte_servicios_x_tipo' %}" class="text-decoration-none">
                    <div class="card option-card text-center p-4 shadow-lg border-0 rounded-lg h-100">
                        <div class="option-icon mb-3">
                            <i class="fas fa-calendar-day fa-3x text-primary"></i>
                        </div>
                        <h4 class="card-title mb-3 text-dark">Pacientes Atendidos</h4>
                    </div>
                </a>
            </div>

            <div class="col-md-4 mb-4">
                <a href="{% url 'resumen_tipo_servicio' %}" class="text-decoration-none">
                    <div class="card option-card text-center p-4 shadow-lg border-0 rounded-lg h-100">
                        <div class="option-icon mb-3">
                            <i class="fas fa-calendar-day fa-3x text-primary"></i>
                        </div>
                        <h4 class="card-title mb-3 text-dark">Total de Servicios Atendidos por Fecha</h4>
                    </div>
                </a>
            </div>

            <div class="col-md-4 mb-4">
                <a href="{% url 'reporte_sobresalientes' %}" class="text-decoration-none">
                    <div class="card option-card text-center p-4 shadow-lg border-0 rounded-lg h-100">
                        <div class="option-icon mb-3">
                            <i class="fas fa-calendar-day fa-3x text-primary"></i>
                        </div>
                        <h4 class="card-title mb-3 text-dark">Servicios Sobresalientes</h4>
                    </div>
                </a>
            </div>

            <div class="col-md-4 mb-4">
                <a href="{% url 'reporte_parte_informativo' %}" class="text-decoration-none">
                    <div class="card option-card text-center p-4 shadow-lg border-0 rounded-lg h-100">
                        <div class="option-icon mb-3">
                            <i class="fas fa-calendar-day fa-3x text-primary"></i>
                        </div>
                        <h4 class="card-title mb-3 text-dark">Parte Informativa</h4>
                    </div>
                </a>
            </div>

            <div class="col-md-4 mb-4">
                <a href="{% url 'reporte_paramedico_base' %}" class="text-decoration-none">
                    <div class="card option-card text-center p-4 shadow-lg border-0 rounded-lg h-100">
                        <div class="option-icon mb-3">
                            <i class="fas fa-calendar-day fa-3x text-primary"></i>
                        </div>
                        <h4 class="card-title mb-3 text-dark">Atención de Paramédicos</h4>
                    </div>
                </a>
            </div>

            <div class="col-md-4 mb-4">
                <a href="{% url 'reporte_equipos' %}" class="text-decoration-none">
                    <div class="card option-card text-center p-4 shadow-lg border-0 rounded-lg h-100">
                        <div class="option-icon mb-3">
                            <i class="fas fa-calendar-day fa-3x text-primary"></i>
                        </div>
                        <h4 class="card-title mb-3 text-dark">Equipo Utilizado</h4>
                    </div>
                </a>
            </div>

            <div class="col-md-4 mb-4">
                <a href="{% url 'reporte_materiales' %}" class="text-decoration-none">
                    <div class="card option-card text-center p-4 shadow-lg border-0 rounded-lg h-100">
                        <div class="option-icon mb-3">
                            <i class="fas fa-calendar-day fa-3x text-primary"></i>
                        </div>
                        <h4 class="card-title mb-3 text-dark">Material Utilizado</h4>
                    </div>
                </a>
            </div>

            <div class="col-md-4 mb-4">
                <a href="{% url 'resumen_tipo_servicio' %}" class="text-decoration-none">
                    <div class="card option-card text-center p-4 shadow-lg border-0 rounded-lg h-100">
                        <div class="option-icon mb-3">
                            <i class="fas fa-calendar-day fa-3x text-primary"></i>
                        </div>
                        <h4 class="card-title mb-3 text-dark">Combustible</h4>
                    </div>
                </a>
            </div>

            <div class="col-md-4 mb-4">
                <a href="{% url 'reporte_pacientes_por_sexo' %}" class="text-decoration-none">
                    <div class="card option-card text-center p-4 shadow-lg border-0 rounded-lg h-100">
                        <div class="option-icon mb-3">
                            <i class="fas fa-calendar-day fa-3x text-primary"></i>
                        </div>
                        <h4 class="card-title mb-3 text-dark">Pacientes Atendidos por Sexo</h4>
                    </div>
                </a>
            </div>

            <div class="col-md-4 mb-4">
                <a href="{% url 'reporte_enfermedades_por_grupo' %}" class="text-decoration-none">
                    <div class="card option-card text-center p-4 shadow-lg border-0 rounded-lg h-100">
                        <div class="option-icon mb-3">
                            <i class="fas fa-calendar-day fa-3x text-primary"></i>
                        </div>
                        <h4 class="card-title mb-3 text-dark">Servicios Prestados por Fecha</h4>
                    </div>
                </a>
            </div>

            <div class="col-md-4 mb-4">
                <a href="{% url 'reporte_materiales_pacientes' %}" class="text-decoration-none">
                    <div class="card option-card text-center p-4 shadow-lg border-0 rounded-lg h-100">
                        <div class="option-icon mb-3">
                            <i class="fas fa-calendar-day fa-3x text-primary"></i>
                        </div>
                        <h4 class="card-title mb-3 text-dark">Material Utilizado en Pacientes por Fecha y Hora</h4>
                    </div>
                </a>
            </div>

            <div class="col-md-4 mb-4">
                <a href="{% url 'reporte_medicamentos_pacientes' %}" class="text-decoration-none">
                    <div class="card option-card text-center p-4 shadow-lg border-0 rounded-lg h-100">
                        <div class="option-icon mb-3">
                            <i class="fas fa-calendar-day fa-3x text-primary"></i>
                        </div>
                        <h4 class="card-title mb-3 text-dark">Medicamento Administrado en Pacientes por Fecha y Hora
                        </h4>
                    </div>
                </a>
            </div>




        </div>
    </div>
    </div>
    </div>

    <script>
        document.querySelectorAll('.option-card').forEach(card => {
            card.addEventListener('mouseenter', function () {
                this.querySelector('.option-icon').style.transform = 'scale(1.1)';
            });
            card.addEventListener('mouseleave', function () {
                this.querySelector('.option-icon').style.transform = 'scale(1)';
            });
        });
    </script>
</body>

</html>