{% include 'navbar.html' %}

<div class="container">

        <h2>Emergencias por Colonia</h2>

        <form method="get" class="row g-3 mb-4">
            {% csrf_token %}
            <div class="col-md-5">
                <label>Desde:</label>
                <input type="date" name="fecha_inicio" class="form-control" value="{{ fecha_inicio }}">
            </div>
            <div class="col-md-5">
                <label>Hasta:</label>
                <input type="date" name="fecha_fin" class="form-control" value="{{ fecha_fin }}">
            </div>
            <div class="col-md-2 d-flex align-items-end">
                <button type="submit" class="btn w-100" style="background-color: #831f46; color: white;">Buscar</button>
            </div>
        </form>


    <form method="post" action="{% url 'generar_pdf_grafica' %}" target="_blank">
        {% csrf_token %}
        <input type="hidden" name="fecha_inicio" value="{{ fecha_inicio }}">
        <input type="hidden" name="fecha_fin" value="{{ fecha_fin }}">
        <input type="hidden" name="grafica_base64" value="{{ grafica_base64 }}">
        <input type="hidden" name="titulo" value="EMERGENCIAS POR COLONIA">
<button type="submit" class="btn bg-secondary text-white">Imprimir PDF</button>    </form>


    {% if resultados %}

    <div class="d-flex justify-content-center mt-5">
        <img id="grafica" src="data:image/png;base64,{{ grafica_base64 }}" alt="Gráfica de traslados">
    </div>
    {% else %}
    <p>No hay datos para mostrar.</p>
    {% endif %}

</div>
<script>
    function imprimirGrafica() {
        var imgSrc = document.getElementById('grafica').src;
        var ventana = window.open('', '_blank');
        ventana.document.write(`
            <html>
                <head>
                    <title>Imprimir Gráfica</title>
                </head>
                <body style="margin:0; text-align:center;">
                    <img src="${imgSrc}" style="max-width:100%; height:auto;" />
                    <script>
                        window.onload = function() {
                            window.focus();
                            window.print();
                            window.onafterprint = function() { window.close(); };
                        }
                    <\/script>
                </body>
            </html>
        `);
        ventana.document.close();
    }
    </script>