{% include 'navbar.html' %}

<body>
    <div class="container">
        {% include 'pestanas.html' %}
    </div>

    <div class="container bg-white p-4 rounded shadow-sm mt-4">
        <h2 class="text-center mb-4 main-title">
            {% if form.instance.pk %}Editar Paramédico{% else %}Nuevo Paramédico{% endif %}
        </h2>

        <form method="POST" class="row g-3">
            {% csrf_token %}
            {{ form.as_p }}

            <div class="col-12 text-end">
                <a href="{% url 'catalogo_general' 'paramedicos' %}" class="btn btn-secondary">Cancelar</a>
                <button type="submit" class="btn btn-primary">
                    {% if form.instance.pk %}Guardar Cambios{% else %}Crear{% endif %}
                </button>
            </div>
        </form>
    </div>

    {% include 'footer.html' %}
</body>
